<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oopd_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Additemquantity"></activity>
        <activity android:name=".changeprice" />
        <activity android:name=".removeitem" />
        <activity android:name=".Additem" />
        <activity android:name=".show_inventroy" />
        <activity android:name=".Payment" />
        <activity android:name=".SalesReport" />
        <activity android:name=".Admin_report" />
        <activity android:name=".Place_Order" />
        <activity android:name=".Add_to_cart" />
        <activity android:name=".check" />
        <activity android:name=".Register_User" />
        <activity android:name=".Register_Admin" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>